/*           

Mobile first!
CSS-Dateien nach Sinn aufteilen

*/


/* Allgemeine Definitionen
 * ======================================== */

@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Italic.ttf')format('truetype');
    font-style:                 italic;
}

html
{
    font:                       16px/1.6 'Montserrat', helvetica, arial, sans-serif;
}

.site
{
    position:                   relative;
    margin:                     auto;
    min-width:                  320px;
    max-width:                  1200px;
}

body
{
    margin:                     0;
}

img
{
    max-width:                  100%;
    height:                     auto;
}


/* Überschriften, Text und Listen
 * ======================================== */

/* Artikel Titel */
h1
{
    font-family:                'Inconsolata';
    font-size:                  2.25em;
    line-height:                1.2;
    color:                      #cc0000;
    font-variant:               normal;
    margin:                     0.5rem;
    padding-left:               0.5rem;
}

/* Section */
h2
{
    font-family:                'Inconsolata';
	font-size:                  1.2em;
	line-height:                1.2;
    width:                      auto;
    text-transform:             uppercase;
    color:                      #b3b3b3;
    margin:                     auto;
    letter-spacing:             0.2rem;
}

/* Artikel Teaser */
h3
{
    font-family:                'Inconsolata';
	font-size:                  1.5em;
	line-height:                1.2;
    color:                      #ffffff;
    padding-left:               2rem;
    font-stretch:               expanded;
    hyphens:                    auto;
}

/* Artikel Body */
p
{
    font-family:                'Inconsolata';
	font-size:                  1em;
	line-height:                1.2;
    color:                      #ffffff;
    padding-left:               2.5rem;
    font-weight:                normal;
    margin:                     0;
    hyphens:                    auto;
}

@media all and (max-width: 770px)
{
    h3
    {
        padding-left:            1rem;
        text-align:              justify;
    }

    p
    {
        padding-left:            1rem;
        text-align:              justify;
    }
}
/* Logo + Navigation
* ======================================== */

header
{
    max-width:                  100%;
    margin:                     0;
    padding:                    0;
    opacity:                    1;
}

.logo
{
    display:                    flex;
    width:                      100%;
    height:                     auto;
    cursor:                     pointer;
}


/* Navigation incl. HH Menu & Events */

.nav
{
    overflow:                   hidden;
    padding-top:                0.4rem;
    padding-bottom:             0.4rem;
    background-color:           rgba(1, 0, 0, 1);
    position:                   relative;
    position:                   -webkit-sticky;
    position:                   sticky;
    top:                        0;
    z-index:                    3000;
}

.nav_border
{
    overflow:                   hidden;
    padding-top:                0.4rem;
    padding-bottom:             0.4rem;
    background-color:           rgba(1, 0, 0, 1);
    position:                   relative;
    position:                   -webkit-sticky;
    position:                   sticky;
    top:                        0;
    z-index:                    3000;
    border-color:               rgba(255, 0, 0, 1);
    border-style:               solid;
    border-width:               0;
    border-bottom-width:        0.3rem;
}

.nav a, .nav_border a
{
    display:                    inline-flex;
    text-decoration:            none;
    color:                      rgba(255, 0, 0, 0.7);
    margin:                     0.5rem;
    padding:                    0.2rem;
    text-transform:             uppercase;
    font-weight:                bold;
    border-color:               #CC0000;
    border-style:               solid;
    border-width:               0.1rem;
    -moz-animation:             fadein 3s; /* Firefox */
    -webkit-animation:          fadein 3s; /* Safari and Chrome */
    -o-animation:               fadein 3s; /* Opera */
    animation:                  fadein 3s;
}

.nav a.current, .nav_border a.current
{
    color:                      #fff000;
    border-color:               #fff000;
}

.nav a:hover, .nav_border a:hover
{
    color:                      #ff66cc;
    border-color:               #ff66cc;
    border-style:               solid;
    border-width:               0.1rem;
}

.nav .icon, .nav_border .icon
{
    display:                    none;
    -moz-animation:             fadein 1s; /* Firefox */
    -webkit-animation:          fadein 1s; /* Safari and Chrome */
    -o-animation:               fadein 1s; /* Opera */
    animation:                  fadein 1s;

}

.nav_logo
{
    position:                   absolute;
    right:                      0;
    padding:                    0;
    padding-right:              1.5rem;
    display:                    inline-flex;
    width:                      4rem;
    height:                     3rem;
    animation:                  fadein 5s;
    -moz-animation:             fadein 5s; /* Firefox */
    -webkit-animation:          fadein 5s; /* Safari and Chrome */
    -o-animation:               fadein 5s; /* Opera */
    animation:                  fadein 5s;


}
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }

.nav_logo_hidden
{
    display:                    none;
}

@media all and (max-width: 770px)
{
    .nav a, .nav_border a
    {
        display:                none;
    }

    .nav a.current, .nav_border a.current
    {
        display:                inline-flex;
        float:                  right;
        -moz-animation:         fadein 3s; /* Firefox */
        -webkit-animation:      fadein 3s; /* Safari and Chrome */
        -o-animation:           fadein 3s; /* Opera */
        animation:              fadein 3s;

    }

    .nav a.icon, .nav_border a.icon
    {
        float:                  right;
        display:                inline-flex;
        padding:                0.4rem;
        padding-left:           0.6rem;
        padding-right:          0.6rem;
    }

    .nav_logo
    {
        position:               absolute;
        display:                inline-flex;
        left:                   0;
        float:                  left;
        padding:                0;
        padding-left:           0.1rem;
        width:                  5rem;
        height:                 3rem;
    }

    .nav_logo_hidden
    {
        display:                none;
    }
}

@media all and (max-width: 770px)
{
    .nav.responsive, .nav_border.responsive
    {
        position:               relative;
        position:               -webkit-sticky;
        position:               sticky;
        top:                    0;
        z-index:                3000;
    }

    .nav.responsive a.icon, .nav_border.responsive a.icon
    {
        right:                  0;
        top:                    0;
        padding:                0.1rem;
        padding-left:           0.6rem;
        padding-right:          0.6rem;
    }

    .nav.responsive a, .nav_border.responsive a
    {
        float:                  none;
        display:                block;
        text-align:             center;
        -moz-animation:         fadein 0s; /* Firefox */
        -webkit-animation:      fadein 0s; /* Safari and Chrome */
        -o-animation:           fadein 0s; /* Opera */
        animation:              fadein 0s;

    }

    .nav.responsive a:hover, .nav_border.responsive a:hover
    {
        color:                  #ff66cc;
        border-color:           #ff66cc;
        border-style:           solid;
        border-width:           0.1rem;
    }

    .nav.responsive a.current, .nav_border.responsive a.current
    {
        color:                  #fff000;
        border-color:           #fff000;
    }

}


/* Footer + Copyright
* ======================================== */

footer
{
    max-width:                  100%;
}

.copy
{
    display:                    block;
    float:                      left;
    left:                       0;
    margin:                     auto;
    padding:                    0.3rem;
    padding-right:              1rem;
    text-transform:             uppercase;
    color:                      #b3b3b3;
}


/* Inhalt
* ======================================== */

.content
{
    display:                    flex;
    flex-direction:             column;
    background-color:           rgba(0, 0, 0, 0);
    list-style:                 none;
    padding-bottom:             2rem;
}

/* Artikel für Übersichtsseiten
* ======================================== */

.artikel_1
{
    margin:                     0;
    margin-top:                 2rem;
    padding:                    1.3rem;
    padding-right:              2rem;
    background-color:           rgba(11, 11, 11, 0.5);
    color:                      #ffffff;
}

.artikel_1 a
{
    text-decoration:            none;
}

.button
{
    display:                    inline-flex;
    left:                       0%;
    background-color:           rgba(11, 11, 11, 0);
    text-decoration:            none;
    color:                      rgba(255, 0, 0, 0.7);
    margin:                     0.5rem;
    padding:                    0.2rem;
    font-weight:                bold;
    border-color:               #CC0000;
    border-style:               solid;
    border-width:               0.1rem;
}

.artikel_1 img
{
    display:                    inline-flex;
    flex-flow:                  column;
    float:                      left;
    margin:                     1rem;
}

.artikel_1 figure
{
    margin:                     0 auto;
}

@media all and (max-width: 770px)
{
    .artikel_1
    {
        margin:                 0;
        margin-top:             1rem;
        padding:                0.3rem;
        padding-right:          1rem;
        background-color:       rgba(11, 11, 11, 0.5);
        color:                  #ffffff;
    }
}
/* Artikel für Einzelseiten (Impressum, Datenschutz, Kontakt, Links)
* ======================================== */

.artikel_2
{
    margin:                     0;
    margin-top:                 1rem;
    padding:                    1.3rem;
    padding-right:              2rem;
    background-color:           rgba(11, 11, 11, 0.5);
    color:                      #ffffff;
}

.artikel_2 a
{
    text-decoration:            none;
    color:                      inherit;
}

.artikel_2 p
{
    line-height:                1.6rem;
    padding-left:               2.5rem;
    margin-bottom:              2rem;
}

.artikel_2 h3
{
    margin-top:                 2rem;
    font-family:                'Inconsolata';
	line-height:                1.2;
    color:                      #ffffff;
    padding-left:               2rem;
    font-stretch:               expanded;
}

.artikel_2 h4
{
    color:                      #ffffff;
    padding-left:               2rem;
}

.kontakt
{
    display:                    flex;
}

.maps
{

    margin-top:                 1rem;
    margin-left:                1rem;
}

/* Artikel für Artikel selbst
* ======================================== */

.artikel_3
{
    margin:                     0;
    margin-top:                 1rem;
    padding:                    1.3rem;
    padding-right:              2rem;
    background-color:           rgba(11, 11, 11, 0.5);
    color:                      #ffffff;
}

.artikel_3 a
{
    text-decoration:            none;
    color:                      inherit;
}

/* .artikel_3 img
{

} */

.artikel_3 p
{
    padding-left:               2.5rem;
    font-weight:                normal;
    margin:                     0;
    word-wrap:                  break-word;
}


/* Call to Action
* ======================================== */

.cta0
{
    display:                    flex;
    flex-flow:                  row wrap;
    justify-content:            space-around;
    margin:                     0;
    margin-top:                 2rem;
    padding:                    0;
    padding-top:                0.8rem;
    padding-bottom:             0.8rem;
    background-color:           rgba(0, 0, 0, 0.3);
}

.cta
{
    width:                      31%;
    position:                   relative;
}

@media all and (max-width: 770px)
{
    .cta0
    {
        flex-flow:              column wrap;
        margin:                 auto;
        padding:                0.5rem
    }

    .cta
    {
        width:                  100%;
        margin:                 auto;
        margin-bottom:          0.25rem;
        margin-top:             0.25rem;
    }

    .cta_t
    {
        position:               absolute;
        width:                  inherit;
        top:                    70%;
    }
}

.cta a
{
    text-decoration:            none;
}

.cta img
{
    position:                   relative;
    width:                      100%;
    height:                     100%;
    background-size:            cover;
}

.cta_t
{
    background-color:           rgba(255,255,255,0.83);
    color:                      #CC0000;
    position:                   absolute;
    width:                      100%;
    top:                        70%;
    z-index:                    1000;
    text-align:                 center;
    font-size:                  1.5rem;
    font-weight:                bold;
    text-transform:             uppercase;
}


/* Parallax
* ======================================== */

.parallax-window
{
    background-color:           rgba(0, 0, 0, 0.5);
    min-height:                 800px;
    width:                      100%;
    background-attachment:      fixed;
    background-position:        center;
    background-repeat:          no-repeat;
    background-size:            cover;
}
