/*           

Mobile first!
CSS-Dateien nach Sinn aufteilen

*/


/* Allgemeine Definitionen
 * ======================================== */

@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Italic.ttf')format('truetype');
    font-style:                 italic;
}

html
{
    font:                       16px/1.6 'Montserrat', helvetica, arial, sans-serif;
}

body
{
    background-color:           #ffffff;
    margin:                     auto;
    min-width:                  320px;
    max-width:                  1200px;
}

img
{
    max-width:                  100%;
    height:                     auto;
}
/* Überschriften, Text und Listen
 * ======================================== */

h1
{
    font-family:                'Inconsolata';
    font-size:                  2.25em;
    line-height:                1.2;
}

h2
{
    font-family:                'Inconsolata';
	font-size:                  1.75em;
	line-height:                1.2;
}


/* Logo + Navigation
* ======================================== */

header
{
    max-width:                  100%;
    margin:                     auto;
}

.logo
{
    display:                    flex;
}

/* Warum wird das nicht vererbt? In meiner Vorlage funktionierte das.. */
/* man kann es nicht in header schreiben, habe ich gerade ausprobiert, dann wird alles nebeneinander ausgegeben... also bekommen die einzelnen div klassen flex
wenn du diesen kommentar gelesen hast, bitte löschen ;) */

/* nav ul, li
{
            display: flex;
} */

.nav
{
    display:                    flex;
    list-style:                 none;
    margin:                     auto;
    background-color:           #00bfff;
    flex-flow:                  row wrap;
    justify-content:            flex-start, space-around;
}

.nav a
{
    text-decoration:            none;
    display:                    block;
    padding:                    1rem;
    color:                      #ffffff;
}
  
.nav a:hover
{
    color:                      #000000;
}
  
@media all and (max-width: 800px)
{
    .nav
    {
        justify-content:        flex-start, space-around;
    }
}
  
@media all and (max-width: 600px)
{
    .nav
    {
        flex-flow:              column wrap;
        flex-flow:              column wrap;
        padding:                0;
    }
    
    .nav a
    {
        text-align:             center;
        padding:                10px;
        border-top:             1px solid rgba(255,255,255,0.3);
        border-bottom:          1px solid rgba(0,0,0,0.1);
    }
  
    
    .nav li:last-of-type a
    {
        border-bottom:          none;
    }
}

/* Footer + Copyright ;)
* ======================================== */

footer
{
    max-width:                  100%;
}

.foot_nav
{
    display:                    flex;
    list-style:                 none;
    margin:                     auto;
    background-color:           #000000;
    flex-flow:                  row wrap;
    justify-content:            flex-start, space-around;
}

.foot_nav a
{
    text-decoration:            none;
    display:                    block;
    padding:                    1.1rem;
    color:                      #ffffff;
}

.foot_nav a:hover
{
    color:                      #ff0000;
}

@media all and (max-width: 800px)
{
    .foot_nav
    {
        justify-content:        flex-start, space-around;
    }
}

@media all and (max-width: 600px)
{
    .foot_nav
    {
        flex-flow:              column wrap;
        flex-flow:              column wrap;
        padding:                0;
    }

    .foot_nav a
    {
        padding:                10px;
        border-top:             1px solid rgba(255,255,255,0.3);
        border-bottom:          1px solid rgba(0,0,0,0.1);
    }


    .foot_nav li:last-of-type a
    {
        border-bottom:          none;
    }
}

.copy
{
    display:                    block;
    padding:                    1.1rem;
    padding-left:               10rem;
    color:                      #ffffff;
}

/* Inhalt
* ======================================== */

.content
{
    display:                    flex;
    flex-direction:             column;
    background-color:           #ffff00;
    list-style:                 none;
}

.artikel_1
{
    margin:                     1.6rem;
    margin-bottom:              0;
    padding:                    1.3rem;
    background-color:           #0bbbef;
}

.artikel_1 figure
{
    margin:                     0 auto;
}

/* Call to Action
* ======================================== */

.cta0
{
    display:                    flex;
    justify-content:            space-around;
    margin:                     1.6rem;
    margin-bottom:              0;
    padding:                    0;
    padding-top:                0.8rem;
    padding-bottom:             0.8rem;
    background-color:           #000000;
}

.cta
{
    width:                      31%;
    position:                   relative;
}

.cta a
{
    text-decoration:            none;
}

.cta img
{
    position:                   relative;
    width:                      100%;
    height:                     100%;
    background-position:        50% 50%;
    background-size:            cover;
}

.cta_t
{
    background-color:           rgba(255,255,255,0.45);
    color:                      #ffffff;
    position:                   absolute;
    width:                      100%;
    top:                        70%;
    z-index:                    1000;
    text-align:                 center;
    font-size:                  1.5rem;
    font-weight:                bold;
    font-variant:               small-caps;
    border-width:               0;
    border-bottom-width:        0.05rem;
    border-top-width:           0.05rem;
    border-style:               inset;
    text-shadow:                -1px -1px 0 #000,
                                1px -1px 0 #000,
                                -1px 1px 0 #000,
                                1px 1px 0 #000;
}

