/*           

Mobile first!
CSS-Dateien nach Sinn aufteilen

*/


/* Allgemeine Definitionen
 * ======================================== */

@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Italic.ttf')format('truetype');
    font-style:                 italic;
}

html
{
    font:                       16px/1.6 'Montserrat', helvetica, arial, sans-serif;
}

body
{
    background-color:           #ffffff;
    margin:                     auto;
    min-width:                  320px;
    max-width:                  1200px;
}

img
{
    max-width:                  100%;
    height:                     auto;
}
/* Überschriften, Text und Listen
 * ======================================== */

h1
{
    font-family:                'Inconsolata';
    font-size:                  2.25rem;
    line-height:                1.2;
}

h2
{
    font-family:                'Inconsolata';
	font-size:                  1.75rem;
	line-height:                1.2;
}


/* Logo + Navigation
* ======================================== */

header
{
    max-width:                  1200px;
    margin:                     auto;
}

.lhead
{
    display:                    flex;
    background-color:           #000000;
    color:                      #ffffff;
    text-align:                 left;
    padding:                    auto;
    padding-left:               50px;
}

.logo
{
    max-height:                 230px;
    width:                      auto;
    text-align:                 left;
}

.hhead
{
    padding:                    20px;
    margin-top:                 90px;
    font-size:                  2.80rem;
}

/* Warum wird das nicht vererbt? In meiner Vorlage funktionierte das.. */

/* nav ul, li
{
            display: flex;
} */

.nav
{
    list-style:                 none;
    margin:                     auto;
    background:                 #00bfff;
    display:                    flex;
    flex-flow:                  row wrap;
    justify-content:            space-around;
}
  
.nav a
{
    text-decoration:            none;
    display:                    block;
    padding:                    1rem;
    color:                      #ffffff;
}
  
.nav a:hover
{
    color:                      #000000;
}
  
@media all and (max-width: 800px)
{
    .nav
    {
        justify-content:        space-around;
    }
}
  
@media all and (max-width: 600px)
{
    .nav
    {
        flex-flow:              column wrap;
        flex-flow:              column wrap;
        padding:                0;
    }
    
    .nav a
    {
        text-align:             center;
        padding:                10px;
        border-top:             1px solid rgba(255,255,255,0.3);
        border-bottom:          1px solid rgba(0,0,0,0.1);
    }
  
    
    .nav li:last-of-type a
    {
        border-bottom:          none;
    }
}

/* Footer + Copyright ;)
* ======================================== */

footer
{
    max-width:                  1200px;
    background-color:           #000000;
}

.foot
{
    list-style:                 none;
    margin:                     auto;
    display:                    flex;
    flex-flow:                  row wrap;
    justify-content:            space-around;
}

.foot a
{
    text-decoration:            none;
    display:                    block;
    padding:                    1rem;
    color:                      #ffffff;
}

.foot a:hover
{
    color:                      #ff0000;
}

@media all and (max-width: 800px)
{
    .foot
    {
        justify-content:        space-around;
    }
}

@media all and (max-width: 600px)
{
    .foot
    {
        flex-flow:              column wrap;
        flex-flow:              column wrap;
        padding:                0;
    }

    .foot a
    {
        text-align:             center;
        padding:                10px;
        border-top:             1px solid rgba(255,255,255,0.3);
        border-bottom:          1px solid rgba(0,0,0,0.1);
    }


    .foot li:last-of-type a
    {
        border-bottom:          none;
    }
}

.copy
{
    text-align:                 right;
    color:                      #ffffff;
    margin:                     5px;
    margin-top:                 40px;
    font-size:                  0.6rem;
}

/* Inhalt
* ======================================== */

.content
{
    box-sizing:                 border-box;
    display:                    flex;
    flex-direction:             column;
    background-color:           #ffff00;
    list-style:                 none;
}

.artikel_1
{
    box-sizing:                 border-box;
    margin:                     1.6rem;
    margin-bottom:              0;
    padding:                    1.3rem;
    background-color:           #0bbbef;
}

.artikel_1 figure
{
    margin:                     0 auto;
}
/* Call to Action
* ======================================== */

.cta0
{
    display:                    flex;
    justify-content:            space-around;
    margin:                     1.6rem;
    margin-bottom:              0;
    padding:                    1.3rem;
    background-color:           #000000;
}

.cta1
{
    width:                      31%;
    background-color:           #00ff00;
}

.cta2
{
    width:                      31%;
    background-color:           #ff0000;
}

.cta3
{
    width:                      31%;
    background-color:           #0000ff;
}

.cta4
{
    background-color:           rgba(255,255,255,0.7);
    color:                      #000000;
    text-align:                 center;
    font-weight:                bold;
    font-variant:               small-caps;
    z-index:                    1;
}

.cta_img
{
    z-index:                    0;
    height:                     auto;
}

.cta4 a
{
    text-decoration:            none;
}
