/*           

Mobile first!
CSS-Dateien nach Sinn aufteilen

*/


/* Allgemeine Definitionen
 * ======================================== */

@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face
{
    font-family:                'Inconsolata';
    src:                        url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight:                bold;
}
@font-face
{
    font-family:                'Montserrat';
    src:                        url('../fonts/Montserrat/Montserrat-Italic.ttf')format('truetype');
    font-style:                 italic;
}

html
{
    font:                       16px/1.6 'Montserrat', helvetica, arial, sans-serif;
}

body
{
    background-color:           rgba(0, 0, 0, 0.9);
    margin:                     auto;
    min-width:                  320px;
    max-width:                  1200px;
    background-image:           url(../imgs/bg_platine.jpg);
    background-repeat:          no-repeat;
    background-size:            cover;
}

img
{
    max-width:                  100%;
    height:                     auto;
}


/* Überschriften, Text und Listen
 * ======================================== */

h1
{
    font-family:                'Inconsolata';
    font-size:                  2.25em;
    line-height:                1.2;
    color:                      #cc0000;
    font-variant:               normal;
    margin:                     0.5rem;
    padding-left:               0.5rem;
}

h2
{
    font-family:                'Inconsolata';
	font-size:                  1.2em;
	line-height:                1.2;
    color:                      #b3b3b3;
    margin:                     auto;
}

.h2 a, .h1 a
{
    text-decoration:            none;
}

h3
{
    font-family:                'Inconsolata';
	font-size:                  1.5em;
	line-height:                1.2;
    color:                      #ffffff;
    padding-left:               2rem;
    font-weight:                normal;
}


/* Logo + Navigation
* ======================================== */

header
{
    max-width:                  100%;
    margin:                     0;
    padding:                    0;
    display:                    flex;
    flex-flow:                  row wrap;
    background-color:           rgba(0, 0, 0, 0.9);
}

.logo
{
    display:                    flex;
}

/* Warum wird das nicht vererbt? In meiner Vorlage funktionierte das.. */

/* nav ul, li
{
            display: flex;
} */

.nav
{
    width:                      100%;
    display:                    flex;
    list-style:                 none;
    margin:                     auto;
    padding-left:               0.8rem;
}

.nav a
{
    text-decoration:            none;
    display:                    block;
    padding:                    0.5rem;
    color:                      #CC0000;
    text-transform:             uppercase;
    font-weight:                bold;
    border-color:               #CC0000;
    border-style:               solid;
    border-width:               0.2rem;
    margin:                     0.5rem;
}

.nav a:hover
{
    color:                      #fff000;
    border-color:               #fff000;
    border-style:               solid;
    border-width:               0.2rem;
    border-left-width:          1.5rem;
}

@media all and (max-width: 800px)
{
    .nav
    {
        justify-content:        flex-start, space-around;
    }
}
  
@media all and (max-width: 600px)
{
    .nav
    {
        flex-flow:              column wrap;
        padding:                0;
    }
    
    .nav a
    {
        text-align:             center;
        padding:                10px;
        border-top:             1px solid rgba(255,255,255,0.3);
        border-bottom:          1px solid rgba(0,0,0,0.1);
    }
  
    
    .nav li:last-of-type a
    {
        border-bottom:          none;
    }
}

/* Footer + Copyright ;)
* ======================================== */

footer
{
    max-width:                  100%;
}

.foot_nav
{
    display:                    flex;
    flex-flow:                  row wrap;
    list-style:                 none;
    margin:                     auto;
    margin-top:                 1rem;
    padding-left:               0.8rem;
    background-color:           rgba(0, 0, 0, 1);
}

.foot_nav a
{
    text-decoration:            none;
    text-transform:             uppercase;
    font-weight:                bold;
    display:                    flex;
    margin:                     0.5rem;
    padding:                    0.5rem;
    color:                      #cc0000;
    border-color:               #CC0000;
    border-style:               solid;
    border-width:               0.05rem;
}

.foot_nav a:hover
{
    color:                      #fff000;
    border-color:               #fff000;
    border-style:               solid;
    border-width:               0.05rem;
}

.copy
{
    justify-content:            flex-end;
    display:                    flex;
    margin:                     0.3rem;
    margin-left:                auto;
    padding:                    0.4rem;
    text-transform:             uppercase;
    color:                      #b3b3b3;
}

@media all and (max-width: 800px)
{
    .foot_nav
    {
        justify-content:        flex-start, space-around;
    }
}

@media all and (max-width: 770px)
{
    .foot_nav
    {
        flex-flow:              column wrap;
        flex-flow:              column wrap;
        padding:                0;
    }

    .foot_nav a
    {
        padding:                10px;
        border-top:             1px solid rgba(255,255,255,0.3);
        border-bottom:          1px solid rgba(0,0,0,0.1);
    }

    .foot_nav li:last-of-type a
    {
        border-bottom:          none;
    }
}


/* Inhalt
* ======================================== */

.content
{
    display:                    flex;
    flex-direction:             column;
    background-color:           rgba(0, 0, 0, 0.1);
    list-style:                 none;
}

.artikel_1
{
    margin:                     0;
    margin-top:                 1rem;
    padding:                    1.3rem;
    background-color:           rgba(11, 11, 11, 1);
    color:                      #ffffff;
}

.artikel a
{
    color:                      #CC0000;
}
.artikel_1 figure
{
    margin:                     0 auto;
}

/* Call to Action
* ======================================== */

.cta0
{
    display:                    flex;
    flex-flow:                  row wrap;
    justify-content:            space-around;
    margin:                     0;
    margin-top:                 1rem;
    padding:                    0;
    padding-top:                0.8rem;
    padding-bottom:             0.8rem;
    background-color:           #000000;
}

.cta
{
    width:                      31%;
    position:                   relative;
}

@media all and (max-width: 700px)
{
    .cta0
    {
        flex-flow:              column wrap;
        padding:                1rem;

    }

    .cta
    {
        width:                  100%;
    }
}



.cta a
{
    text-decoration:            none;
}

.cta img
{
    position:                   relative;
    width:                      100%;
    height:                     100%;
    background-position:        50% 50%;
    background-size:            cover;
}

.cta_t
{
    background-color:           rgba(255,255,255,0.83);
    color:                      #CC0000;
    position:                   absolute;
    width:                      100%;
    top:                        70%;
    z-index:                    1000;
    text-align:                 center;
    font-size:                  1.5rem;
    font-weight:                bold;
    text-transform:             uppercase;
}

