{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}

{% block impressum %}

<div class="artikel_2">
    <h1>{{ entry.title }}</h1>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>{{ entry.artikelBody }}</h4>
</div>
<div></div>

{% endblock impressum %}
