{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}

{% block content %}
    <div class="artikel_2">
        <div class="headline">
            {{ entry.title }}
        </div>
            {% for block in entry.links.all() %}
	            {% switch block.type %}
                    {% case "linkImage" %}
                            <div class="">
                                {% for image in block.linkImage.all() %}
                                    <div class="">
                                        <a href="{{ block.linkUrl }}">
                                            <img src="{{ image.getUrl('link') }}">
                                        </a>
                                    </div>                               
                                {% endfor %}
                                </div>
	                {% endswitch %}
                {% endfor %}
        </div>
{% endblock %}
