{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}

{% block links %}
    <div class="artikel_2">
        <div class="headline">LINKS</div>
        <div class="teaser">Von der Forschungsgruppe Perfect Beat empfohlen:</div>
        {# mit for alles ausgeben#}
        <div class="link"> {# Einbindung von Bildern mit Links#} </div>
    </div>
{% endblock links %}
