{% extends "_layout" %}
{% block projekte %}
    
{% for entry in craft.entries.section('projekte').limit(10).all() %}

<div class="artikel_1">
    <a href="{{ entry.url }}">
    <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
    {{ entry.artikelBody }}
</div>
<br>

{% endfor %}

{% endblock projekte %}

