{% extends "_layout" %}
{# Page-Title für Browser-Tab setzen #}
{% set page_title = "404 - Seite nicht gefunden" %}
{# Inhaltsblock ausgeben #}
{% block content %}
    <div class="fourofour">
        <div class="abody">
            <div class="text">
                Fehler 404 - Seite konnte nicht gefunden werden
            </div>
            <div class="button">
                <a href="{{ siteUrl }}">zur&uuml;ck zu Start</a>
            </div>
        </div>
    </div>    
{% endblock %}