{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}
{% set page_title = "404 - Seite nicht gefunden" %}

{% block content %}
    <div class="404">
        <div class="abody">
            Fehler 404 - Seite konnte nicht gefunden werden
                <div class="button">
                    <a href="{{ siteUrl }}">Home</a>
                </div>
        </div>
    </div>    
{% endblock %}
