{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}
{% set page_title = "404 - Seite nicht gefunden" %}

{% block content %}
    <div class="fourofour">
        <div class="abody">
            <div class="text">
                Fehler 404 - Seite konnte nicht gefunden werden
            </div>
            <div class="button">
                <a href="{{ siteUrl }}">zur&uuml;ck zu Start</a>
            </div>
        </div>
    </div>    
{% endblock %}