{% extends "_layout" %}

{% set page_title = 'Mods' %}
{% set mods = 'current' %}
{% set start, aktuelles, projekte, opensource = '','','','' %}


{% block mods %}

{% for entry in craft.entries.section('mods').limit(10).all() %}

<div class="artikel_1">
    <a href="{{ entry.url }}">
        <h1>{{ entry.title }}</h1>
    </a>
    <h3>{{ entry.artikelTeaser }}</h3>
        {{ entry.artikelBody|chop(limit=1, unit='p') }}
</div>

{% endfor %}

{% endblock mods %}
