{% extends "_layout" %}

{% set start, aktuelles, projekte, opensource, mods = '','','','','' %}

{% block kontakt %}

<div class="kontakt">
<div class="artikel_2">
    <h1>{{ entry.title }}</h1>
    <h3>{{ entry.artikelTeaser }}</h3>
    <h4>{{ entry.artikelBody }}</h4>
</div>

<!-- Einbindung von Google-Maps-Karte -->

<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2326.6973639862763!2d10.139302215945289!3d54.32698140850552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b256433cc6f6b1%3A0x89a1ed01a72f6711!2sAlte+Mu+Impuls+-+Werk+e.V.!5e0!3m2!1sde!2sde!4v1541969907821"
        width="100%" height="auto" frameborder="0" style="border:1" allowfullscreen>
</iframe>

</div>


{% endblock kontakt %}
